.button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 16px 8px;
    width: 200px;
    cursor: pointer;
}

.button:hover {
    background: white;
    color: black;
}